.footer {
	height: 5vh;
	width: 100%;
	background-color: $bkgColor;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 10px;
	font-size: 0.8rem;

	p {
		font-size: 1rem;
	}
}
