.header {
	background-color: $bkgColor;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	height: 10vh;
	width: 100%;

	input {
		border-radius: 50px;
		background: transparent;
		border: 2px solid #1cdfc4;
		color: white;
		height: 40px;
		padding-left: 10px;
		width: 150px;
		font-size: 1rem;
	}
	::placeholder {
		color: white;
		opacity: 0.9;
	}
}
