@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

@import 'config';
@import 'header';
@import 'container';
@import 'main-timer';
@import 'per-ses-timer';
@import 'team-scores';
@import 'footer';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#root {
	font-family: 'Acme', sans-serif;
	color: white;
	font-size: 1rem;
	// max-width: 375px;
	// min-width: 375px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
}
