@import url("https://fonts.googleapis.com/css?family=Acme&display=swap");
.header {
  background-color: #232b4e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  height: 10vh;
  width: 100%;
}

.header input {
  border-radius: 50px;
  background: transparent;
  border: 2px solid #1cdfc4;
  color: white;
  height: 40px;
  padding-left: 10px;
  width: 150px;
  font-size: 1rem;
}

.header ::-webkit-input-placeholder {
  color: white;
  opacity: 0.9;
}

.header :-ms-input-placeholder {
  color: white;
  opacity: 0.9;
}

.header ::-ms-input-placeholder {
  color: white;
  opacity: 0.9;
}

.header ::placeholder {
  color: white;
  opacity: 0.9;
}

.container {
  background-color: #232b4e;
  height: 85vh;
  width: 375px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-timer {
  font-size: 4rem;
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

.main-timer .timer-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding: 0px 50px;
  margin-top: 15px;
}

.per-ses-timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40%;
  width: 100%;
  padding: 5px;
}

.per-ses-timer .periodes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 2rem;
}

.per-ses-timer .periodes h3 {
  text-align: center;
  padding-bottom: 2rem;
}

.per-ses-timer .periodes ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5px 0px 70px 0;
}

.per-ses-timer .periodes ul li {
  list-style: none;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.3;
  font-size: 2.2rem;
}

.per-ses-timer .periodes ul li:hover, .per-ses-timer .periodes ul li:focus, .per-ses-timer .periodes ul li:active {
  border: 2px solid #1acdb4;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  border-radius: 4px;
  color: white;
  opacity: 1;
}

.per-ses-timer .sessions-timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.per-ses-timer .sessions-timer h3 {
  font-size: 2rem;
}

.per-ses-timer .sessions-timer .plus-minus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 2rem;
}

.per-ses-timer .sessions-timer .plus-minus p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.per-ses-timer .sessions-timer .sessions-button {
  font-size: 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.team-scores {
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.team-scores .team1,
.team-scores .team2 {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-scores .team1 input,
.team-scores .team2 input {
  height: 40px;
  font-size: 1.1rem;
  border-radius: 50px;
  background: transparent;
  border: 2px solid #1cdfc4;
  padding: 0px 10px;
  color: white;
  width: 150px;
}

.team-scores .team1 ::-webkit-input-placeholder,
.team-scores .team2 ::-webkit-input-placeholder {
  color: white;
  opacity: 0.9;
}

.team-scores .team1 :-ms-input-placeholder,
.team-scores .team2 :-ms-input-placeholder {
  color: white;
  opacity: 0.9;
}

.team-scores .team1 ::-ms-input-placeholder,
.team-scores .team2 ::-ms-input-placeholder {
  color: white;
  opacity: 0.9;
}

.team-scores .team1 ::placeholder,
.team-scores .team2 ::placeholder {
  color: white;
  opacity: 0.9;
}

.team-scores .team1 div,
.team-scores .team2 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80%;
}

.team-scores .team1 div .scoreboard,
.team-scores .team2 div .scoreboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team-scores .team1 div .scoreboard p,
.team-scores .team2 div .scoreboard p {
  font-size: 4rem;
}

.team-scores .team1 div .scoreboard h3,
.team-scores .team2 div .scoreboard h3 {
  font-size: 2rem;
}

.team-scores .team1 div .penalties ul li,
.team-scores .team2 div .penalties ul li {
  border: 1px solid green;
  list-style: none;
  width: 40px;
  height: 40px;
  margin: 10px;
  opacity: 0.2;
  border-radius: 5px;
}

.team-scores .team1 div .penalties ul li:nth-child(1),
.team-scores .team2 div .penalties ul li:nth-child(1) {
  background-color: red;
}

.team-scores .team1 div .penalties ul li:nth-child(2),
.team-scores .team2 div .penalties ul li:nth-child(2) {
  background-color: orangered;
}

.team-scores .team1 div .penalties ul li:nth-child(3),
.team-scores .team2 div .penalties ul li:nth-child(3) {
  background-color: yellow;
}

.team-scores .team1 div .penalties ul li:hover, .team-scores .team1 div .penalties ul li:focus,
.team-scores .team2 div .penalties ul li:hover,
.team-scores .team2 div .penalties ul li:focus {
  opacity: 1;
}

.team-scores .team1 .score-btns,
.team-scores .team2 .score-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
}

.team-scores .team1 .score-btns button,
.team-scores .team2 .score-btns button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  width: 70px;
  border-radius: 50px;
  background: none;
  color: #fff;
  line-height: 40px;
  max-width: 160px;
  border: 2px solid #1acdb4;
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
  position: relative;
  overflow: hidden;
}

.team-scores .team1 .score-btns button span,
.team-scores .team2 .score-btns button span {
  font-size: 2rem;
}

.footer {
  height: 5vh;
  width: 100%;
  background-color: #232b4e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 10px;
  font-size: 0.8rem;
}

.footer p {
  font-size: 1rem;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#root {
  font-family: 'Acme', sans-serif;
  color: white;
  font-size: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
}
/*# sourceMappingURL=App.css.map */