@import url("https://fonts.googleapis.com/css?family=Acme&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#root {
  font-family: 'Acme', sans-serif;
  color: white;
  font-size: 1rem;
}

#root .header {
  background-color: #232b4e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  height: 10vh;
  width: 100%;
}

#root .header .fa {
  font-size: 2rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  color: #1cdfc4;
}

#root .header .fa:hover, #root .header .fa:focus {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#root .container {
  background-color: #232b4e;
  height: 80vh;
  width: 100vw;
  padding: 10px;
}

#root .container .main-timer {
  font-size: 4rem;
  width: 100%;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

#root .container .main-timer .timer-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding: 0px 50px;
  margin-top: 15px;
}

#root .container .per-ses-timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 20vh;
  width: 100%;
}

#root .container .per-ses-timer .periodes {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 1rem;
  font-size: 2rem;
  padding: 5px;
}

#root .container .per-ses-timer .periodes h3 {
  text-align: center;
}

#root .container .per-ses-timer .periodes ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #c1c1c1;
  padding: 5px;
}

#root .container .per-ses-timer .periodes ul li {
  list-style: none;
}

#root .container .per-ses-timer .sessions-timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  padding: 5px;
}

#root .container .per-ses-timer .sessions-timer h3 {
  font-size: 2rem;
}

#root .container .per-ses-timer .sessions-timer p {
  font-size: 2rem;
  padding-top: 20px;
}

#root .container .per-ses-timer .sessions-timer .plus-minus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 2rem;
}

#root .container .per-ses-timer .sessions-timer .plus-minus .val-min-buttons,
#root .container .per-ses-timer .sessions-timer .plus-minus .val-sec-buttons {
  list-style: none;
}

#root .container .per-ses-timer .sessions-timer .plus-minus .val-min-buttons li,
#root .container .per-ses-timer .sessions-timer .plus-minus .val-sec-buttons li {
  border: 2px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  font-size: 1rem;
  margin-top: 10px;
}

#root .container .per-ses-timer .sessions-timer .sessions-button {
  font-size: 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#root .container .team-scores {
  height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

#root .container .team-scores .team1 .score-btns,
#root .container .team-scores .team2 .score-btns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#root .container .team-scores .team1 .score-btns button,
#root .container .team-scores .team2 .score-btns button {
  width: 70px;
  margin-left: 10px;
  height: 30px;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  border-radius: 5px;
}

#root .container .team-scores .team1,
#root .container .team-scores .team2 {
  border: 1px solid yellow;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#root .footer {
  height: 10vh;
  width: 100%;
  background-color: #232b4e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
